body{

    
    background-image: url("https://wallpapercave.com/wp/wp5709257.jpg");
    

    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: rgb(5, 5, 5);

}